* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}


  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Pacifico&display=swap');



.section {
    background-image: url(./images/main-banner_bg.png), url(./images/main-banner_bg_dish.jpg);
    background-position: right, left;
    background-repeat: no-repeat;
    width: 1350px;
    height: 600px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /* width: 100%;
    height: 100vh; */
}

  .home {
    float: right;
}  

        /* li {
    display: inline-block;
} */

ul li a {
    text-decoration: none;
    padding: 10px;
    color: white;
    vertical-align: middle;
padding-top: 40px;
}

.title {
    color: white;
    position: absolute;
    margin-top: 200px;
    left: 800px;
    transform: translate(-50px, -30px);
    padding-left: 50px;
    padding-right: 50px;
}
.main img{
    /* padding-left: 50px; */
    margin-top: 10px;
}
/* .main ul li    img{
    padding-right: 60px;
} */


.title h1 {
    font-size: 40px;
    color: orange;
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

}

.title button {
    color: white;
    font-size: 30px;
     background-color: #f55105;
   
  }



/*second page start*/

.second {
    /* display: flex;/ */
    background-color: white;
    padding-top: 50px;
    /* height: 500px; */
    width: 100%;
    height: 100vh;
    padding-left: 50px;
    padding-right: 50px;
}
.best h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

 }
.best {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;

}

.card {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.second-div {
    border-radius: 147px;
}

.firstimg {
    width: 30%;
    padding: 10px;
    border-radius: 30px;
}


/*sendon page end*/

/*third page start orginal*/
.third {
    background-image: url(./images/line_art_bg.png);
    /* height: 550px; */
    background-color: black;
    color: white;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.threeimg img {
    width: 350px;
    height: 350px;
    margin-bottom: 30px;
    margin-left: 80px;
    border-radius: 50%;
}

.third h1 {
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;
     font-size: 40px;
    color: burlywood;
    padding-top: 0px;
    margin-top: 0px;
}

.threepara {
    width: 50%;
}


.threepara button {
    background-color: hsl(23, 95%, 49%);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

/* thirdpage end original */

/* fouth page start */
.fourth {
    background-image: url(./images/line_art_bg.png);
    background-color: rgb(0, 0, 0);
    /* width: 1350 px;
    height: 550px; */
    color: white;
    background-size: 100%;
    width: 100%;
    height: 70vh;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;

}

.fourthpage {
    text-align: center;
    padding-left: 130px;
}
.fourthpage p{
    padding-top: 30px;
}

.circle {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 70px;
}

.fourcircle {
     width: 150px;
    height: 150px;
    padding: 20px;  
    border:2px solid ;
    border-radius: 50%;
    border-color: white; 
    display: inline-block;
  
}
.fourthpage h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

}
.fourcircle h1{
    color:yellow;
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

}

/* fourthpage end */

/* fifth page start */
.fifth {
    background-image: url(./images/line_art_bg.png);
    background-color: black;
    width: 100%;
    color: white;
    height: 100vh;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.fifthimg img {
    float: right;
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 80%;
     padding-right: 20px;
}
.fifthpara {
    font-size: 30px;
    width: 50%;
}
.fifthpara h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

}


.fifthpara button {
    background-color: yellow;
    border: none;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

/* fifth page end */

/* sixth page start */
.sixth {
    background-image: url(./images/lenora_fields_bg.jpg),linear-gradient(45deg, blue, red);
    /* background-color: orangered; */
    color: white;
    width: 1350px;
    height: 600px;
    text-align: center;
    padding-top: 250px;
    font-size: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.sixth h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

}
 /* sixthpage end */

 /* seventh page start */

 .seventh{
    background-image: url(./images/line_art_bg.png);
    width: 1350px;
    height: 600px;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    }
    .seventh h1{
        font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;

    }
    /* .input{
         width: 50px;
        text-align: center;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 40px;
    } */
/* seven page end */

/* eight page start */

.eightpage{
     width: 1350px;
    height: 500px;
    background-color: black;
    color: white;
    display: flex; 
    justify-content:space-between;
    /* padding-left: 50px;
    padding-right: 50px; */
}
 .row{
    width: 40%;
    height: 45%;
    padding-left: 50px;
    padding-top: 150px;
    padding-right: 50px;
}
.last li  {
    margin-bottom: 10px;
    list-style: none;
}
.about h2{
    margin-bottom: 10px;
    font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;


}

.column{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    width: 40%;   
     padding-left: 50px;
     padding-right: 50px;
    } 
    
    
    /* **************** MOBILE VIEW ************************** */

    @media(max-width:767px){
        
            .section{
                background-color: blue;
                width: 400px;
                background-size: 100% 100%;                 
            

            }
        }
    